header.header-main
  .continear
    .header-main__logo-box
      img(src='img/home-page/home-page-logo.png' width='100%' alt='Logo-img')
    .header-main__text-box
      h1.header-main__greeting
        span.header-main__description Website frontend developer
        span.header-main__author Никулина Антона
    .header-main__text-prev
      p Искуство создавать
    
    include ../social/social

    include ../button-down/button-down
