.cards-rotate
  ul.cards-rotate__list
    li.cards-rotate__item
      h3.cards-rotate__heading Соврименные возможностеи языков на стороне клиента
      .imge-wrapper
        .imge-box
          img(src="img/skills/icon-tehnologi/html5.svg", alt="html5 Logo")
        .imge-box
          img(src="img/skills/icon-tehnologi/css3.svg", alt="css3 Logo")
        .imge-box
          img(src="img/skills/icon-tehnologi/javascript.svg", alt="javascript Logo")
    li.cards-rotate__item
      h3.cards-rotate__heading Соврименные технологии на стороне сервера
      .imge-wrapper
        .imge-box.imge-box--width-big
          img(src="img/skills/icon-tehnologi/nodejs.svg", alt="nodejs Logo")
        .imge-box.imge-box--width-big
          img(src="img/skills/icon-tehnologi/php.svg", alt="php Logo")
        .imge-box.imge-box--width-big
          img(src="img/skills/icon-tehnologi/mongodb.svg", alt="mongodb Logo")
    li.cards-rotate__item
      h3.cards-rotate__heading Соврименные технологии для оптемизации
      .imge-wrapper
        .imge-box
          img(src="img/skills/icon-tehnologi/gulp.svg", alt="gulp Logo")
        .imge-box
          img(src="img/skills/icon-tehnologi/npm.svg", alt="npm Logo")
        .imge-box
          img(src="img/skills/icon-tehnologi/bem.svg", alt="bem Logo")
        .imge-box
          img(src="img/skills/icon-tehnologi/sass.svg", alt="sass Logo")
        .imge-box
          img(src="img/skills/icon-tehnologi/pug.svg", alt="pug Logo")
        .imge-box
          img(src="img/skills/icon-tehnologi/github.svg", alt="github Logo")
    li.cards-rotate__item
      h3.cards-rotate__heading Соврименные библиотеки для больших возможностей
      .imge-wrapper
        .imge-box.imge-box--vertical-middle
          img(src="img/skills/icon-tehnologi/bootstrap.svg", alt="bootstrap Logo")
        .imge-box.imge-box--width-big
          img(src="img/skills/icon-tehnologi/jQuery.svg", alt="jQuery Logo")
        .imge-box
          img(src="img/skills/icon-tehnologi/angular.svg", alt="angular Logo")