.cards-rotate
  ul.cards-rotate__list
    each boxTeh, index in skills
      li.cards-rotate__item
        h3.cards-rotate__heading #{index}
        .imge-wrapper
          each nameTeh in boxTeh
            a(href=`${nameTeh.link}` target="_blank").imge-box.parallax__item
              svg(viewBox=`${nameTeh.size}`)
                use(xlink:href=`${nameTeh.name}`)