.cards-rotate__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-top: 3%;
}

.cards-rotate__item {
  width: 49.6%;
  padding: 0 5px;
  margin: 0;
  margin-bottom: 10px;
  list-style: none;
  overflow: hidden;
  background-color: rgba($ultramarine, .5);
}

.cards-rotate__heading {
  color: $white;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  text-shadow: 5px 5px 15px rgba($dark, .9);
}

.imge-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 170px;
  padding-bottom: 30px;
}

.imge-box {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 85px;
  border-radius: 15px;
  box-shadow: 0 10px 10px rgba($white, .6);
}

.imge-box svg {
  position: absolute;
  z-index: -1;
}
