.cards__list {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.cards__item {
  width: 240px;
  padding: 0;
  margin: 0;
  list-style: none;
  background-image: linear-gradient(-135deg, rgba($ultramarine, .9), rgba($darkSeaGreen, .9));
  transform: skewX(-8deg);
  overflow: hidden;
  box-shadow: 0 10px 30px rgba($ultramarine, .5);
  transition: .3s;

  &:hover {
    transform: translateY(-10px) scale(1.3);
  }

  &:hover .cards__heading,
  &:hover .cards__text {
    padding-left: 0;
    transform: skewX(0);
  }

  &:hover .coding::after {
    margin-left: 0;
  }
}

.cards__heading {
  padding-left: 20px;
  color: $white;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  transform: skewX(8deg);
  transition: .3s;
}

.cards__item:first-child .cards__heading,
.cards__item:last-child .cards__heading {
  padding-left: 5px;
}

.imposition {
  &::after {
    display: block;
    content: "";
    width: 100%;
    height: 100px;
    margin-top: 20px;
    margin-left: -3px;
    background-image: url(../img/services-page/cards-svg/imposition.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: .3s;
  }
}

.coding {
  &::after {
    display: block;
    content: "";
    width: 100%;
    height: 100px;
    margin-top: 20px;
    margin-left: -15px;
    background-image: url(../img/services-page/cards-svg/coding.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: .3s;
  }
}

.design {
  &::after {
    display: block;
    content: "";
    width: 100%;
    height: 100px;
    margin-top: 20px;
    margin-left: -3px;
    background-image: url(../img/services-page/cards-svg/analytics.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: .3s;
  }
}

.cards__text {
  padding-left: 8px;
  margin-bottom: 10px;
  color: $white;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
  text-shadow: 0 2px 10px rgba($dark, .9);
  transform: skewX(8deg);
  transition: .3s;
}