.cards
  ul.cards__list
    li.cards__item
      h3.cards__heading.imposition Верстка
      p.cards__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident exercitationem doloribus voluptatum.
    li.cards__item
      h3.cards__heading.coding Программирование
      p.cards__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident exercitationem doloribus voluptatum.
    li.cards__item
      h3.cards__heading.design Дизайн
      p.cards__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident exercitationem doloribus voluptat.
    