.skill-cards
  ul.skill-cards__list
    each boxTeh, index in skills
      li.skill-cards__item
        h3.skill-cards__heading #{index}
        .imge-wrapper
          each nameTeh in boxTeh
            a(href=`${nameTeh.link}` target="_blank").imge-box
              svg(viewBox=`${nameTeh.size}`).parallax__item
                use(xlink:href=`${nameTeh.name}`)