.services-bg-video
  video.services-bg-video__content(autoplay, loop, muted)
    source(src='video/services-bg-video/Workaholic.webm', type='video/webm', data-object-fit="cover")
    | Your browser does not support the video tag. I suggest you upgrade your browser.
    source(src='video/services-bg-video/Workaholic.mp4', type='video/mp4', data-object-fit="cover")
    | Your browser does not support the video tag. I suggest you upgrade your browser.