/*---- colors ----*/
$dark: #000000;
$whiteSmoke: #eeeeee;
$white: #ffffff;
$gainsboro: #ceeddb;
$darkSeaGreen: #86bba2;
$rebeccaPurple: #644596;
$rebeccaPurpleLight: #9f87c5;
$ultramarine: #3a0793;
$slateGray: #6e8894;
$davysGrey: #544e61;